<!DOCTYPE html>
<html xmlns="http://www.thymeLeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="https://img.icons8.com/bubbles/50/000000/r.png">
<title> Revit Project Updater </title>
</head>
	<style>
* {
  box-sizing: border-box;
}


.box {
  border: 1px solid #333333;
  width: 80%;
  height: 650px;
  overflow: scroll;
}

  </style>
<body>
	<div layout:fragment="content1">
	<div class="col-md-6"> 
	<div class="panel panel-default">
		<div class="panel-heading">Edit CableTrayTypes</div>
		<div class="panel-body">
		<form th:action="@{/admin/saveCableTrayTypes}" method="post">
			<div class="form-group">
				<label class="control-label">ID: </label><label th:text="${CableTrayTypes.id}"> </label>
				<input class="form-control" type="hidden" name="id" 
				th:value="${CableTrayTypes.id}"/>
			</div>

			<div class="form-group">
				<label class="control-label">Keynote: </label>
				<input class="form-control" type="text" name="Keynote" 
				th:value="${CableTrayTypes.Keynote}"/>
			</div>

			<div class="form-group">
				<label class="control-label">Model:</label> 
				<input class="form-control" type="text" name="Model"
				th:value="${CableTrayTypes.Model}"  />
		   </div>

			<div class="form-group">
				<label class="control-label">Manufacturer:</label> 
				<input class="form-control" type="text" name="Manufacturer" 
				th:value="${CableTrayTypes.Manufacturer}"/>
		  </div>

		  <div class="form-group">
				<label class="control-label">TypeComments:</label> 
				<input class="form-control" type="text" name="TypeComments" 
				th:value="${CableTrayTypes.TypeComments}"/>
		  </div>
		  
		  <div class="form-group">
				<label class="control-label">URL:</label> 
				<input class="form-control" type="text" name="URL" 
				th:value="${CableTrayTypes.URL}"/>
		  </div>

		  <div class="form-group">
				<label class="control-label">Description:</label> 
				<input class="form-control" type="text" name="Description" 
				th:value="${CableTrayTypes.Description}"/>
		  </div>

		  <div class="form-group">
				<label class="control-label">TypeMark:</label> 
				<input class="form-control" type="text" name="TypeMark" 
				th:value="${CableTrayTypes.TypeMark}"/>
		  </div>

		  <div class="form-group">
				<label class="control-label">Cost:</label> 
				<input class="form-control" type="text" name="Cost" 
				th:value="${CableTrayTypes.Cost}"/>
		  </div>

		  <div class="form-group">
			<label class="control-label">BendRadiusMultiplier:</label> 
			<input class="form-control" type="text" name="BendRadiusMultiplier" 
			th:value="${CableTrayTypes.BendRadiusMultiplier}"/>
	  </div>
			
		<button type="submit" class="btn btn-primary">Save</button>
		</form>
		</div>
	</div>
	</div>
	</div>
</body>
</html>

